body {
    background-color: rgb(160, 160, 160);
}

#searchName {
    height: 25px;
    padding-left: 1%;
    border-radius: 20px;
    border: none;
}
#SearchButton {
    height: 30px;
    padding: 0% 1%;
    border-radius: 20px;
}

.errorText {
    color: red;
}

#pokemonContainer {
    background-color: rgb(223, 232, 233);
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 160px;
    height: auto;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
}
#foundName {
    grid-column: 1/3;
    margin: 0%;
    font-size: auto;
    background-color: rgb(220, 92, 92);
}
#pokemonSprite {
    grid-column: 1/3;
    justify-self: center;
    height: auto;
}
.types {
    background-color: blue;
    margin: 0%;
    padding: 1%;
    font-size: auto;
    height: 30px;
    text-align: center;
    color: whitesmoke;

}